body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  font-size: 62.5%; /*  */
  box-sizing: border-box;
}
body {
  margin:0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height:100%
}

/* Layout */
.grid-container{
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 9rem 1fr 6rem;
  height: 100%
}
header{
  grid-area: header;
  background-color: #23272a;
}
main{
  grid-area: main;
  padding: 1rem;
}
footer{
  grid-area: footer;
  background-color: #23272a;
  color: aliceblue;
}

/* Common */
h1{
  font-size: 1.8rem;
   padding: 1rem 0;
}
h2{
  font-size: 1.6rem;
   padding: 1rem 0;
}
a{
  text-decoration: none;
}
a:hover{
  color: #7289da;
}
ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li{
  margin-top: 1rem;
}
input, select, textarea, button {
  padding: 1rem;
  border-radius: .5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: lightgray;
  cursor: pointer;
}
input:hover, select:hover, textarea:hover, button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #f0c040;
}
button.block {
  width: 100%;
}
/* Header */
header a{
  color:white;
  padding: 1rem;
}
a.brand{
  color:white;
  font-size: 3rem;
  font-weight: bold;
}
.badge{
  background-color: #f02020;
  color: #ffffff;
  border-radius: 25%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.top{
  align-items: flex-start;
}
.row.center{
  justify-content: center;
}
.col-1{
  flex: 1 1 25rem;
}
.col-2{
  flex: 2 1 50rem;
}
.min-30{
  min-width: 30rem;
}
/* Images */
img{
  border-radius: .5rem;
}
img.small {
  max-width: 5rem;
  width:100%;
}
img.small-logo {
  max-width: 5rem;
  width:100%;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  max-width: 60rem;
  width: 93%;
  border-radius: 2rem;
  padding: 1rem;
  background-color: #ececec;
}
/* card */
.card{
  border: .1rem #c0c0c0 solid;
  background-color: #ececec;
  border-radius: .5rem;
  margin: 1rem;
}
.card img.medium {
  border-radius: 0rem;
}
.card-body{
  padding: 1rem;
}
.card-body > * {
  margin-bottom: .5rem;
}
.searchheader {
    background-color: #dddddd;
    border-radius: 2rem;
    padding: 4px;
    outline: none;
    width: 100%;
    text-align: center;
}
.max-width {
  width: 100%;
}
.searchheader:focus, .searchheader:active, .searchheader::selection{
  background-color: #dddddd;
  border-radius: 2rem;
  padding: 4px;
}
.price{
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
  margin: 0.1rem;
}
/* Alert */
.success {
  color: #20a020;
}
.error {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info{
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-error{
  color: #a02020;
  background-color: #ffe0e0e0;
}